<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/grel4d">Greer Jeanne</a>. Greer Jeanne a new force in the coding world. She is full of innovative ideas, but first, learning the basics.
  </p>
  <br />
  <p>
    She spent hundreds of hours and thousands of dollars to learn the ropes, and now she's ready to bring her expertise to you. While continuing to learn, of course.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'GJ.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Greer Jeanne</h2>
      <br />
      <p>
        Greer was born and raised on the south side of Chicago.
      </p>
    </div>
    </div>

  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
